{
  "env": {
    "browser": true,
    "commonjs": true,
    "es2021": true,
  },
  "extends": [
    "airbnb-base",
  ],
  "parserOptions": {
    "ecmaVersion": 12,
  },
  "rules": {
    "camelcase": "off",
    "no-console": "off",
    "no-underscore-dangle": "off",
    "radix": "off",
    "semi": [
      2,
      "never"
    ],
    "global-require": "off",
    "no-unused-vars": "off",
    "import/no-extraneous-dependencies": "off",
    "no-shadow": "off",
    "consistent-return": "off",
    "no-restricted-syntax": "off",
    "guard-for-in": "off",
    "no-prototype-builtins": "off",
    "no-mixed-operators": "off"
  }
}
